{{#partial "content"}}
        <!-- Main content -->
        <div class="content top text-center">
          <div class="container-fluid">
              <div class="py-5 text-center">
                  <br> <br>
                  <h2 class="wavyy">Asignar voluntario</h2>
              </div>
            <div class="row centrar">
                <div class="col-md-6">
                    <div class="form-group container">
                        <form class="needs-validation form-" action="/admin_voluntarios" method="post" novalidate>
                            <div class="col-sm-6">
                                <label for="general" class="form-label">Seleccion치 la asociaci칩n:</label>
                                <select class="form-select" id="asociacion" name="asociaci칩n" required>
                                    <option value="" selected="selected">...</option>
                                    {{#each organizaciones}}
                                        <option value="{{nombre}}">{{nombre}}</option>
                                    {{/each}}
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, seleccione una asociaci칩n.
                                </div>
                                <label for="altura" class="form-label">Ingrese nombre de usuario:</label>
                                <input type="text" class="form-control" id="altura" value="" name="nombre" required>
                                <div class="invalid-feedback">
                                    Ingrese el usuario.
                                </div>
                            </div>

                            <div class="text-center col-md-6">
                                <hr class="my-4">
                                <button class="btn-grande text-uppercase fw-bold mb-2" type="submit">Dar rol voluntario</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
{{/partial}}


{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}
{{#eq rol "Administrador"}}

    {{> layout_admin.hbs}}

{{/eq}}
