{{#partial "content"}}
    <!-- Datos de registro-->
    <div class="register">
        <div class="container">
            <div class="py-5 text-center">
                <br> <br>
                <h2>¡Datos enviados!</h2>
                <p class="lead">El responsable de la mascota se contactará con vos.</p>
                <i class="far fa-7x fa-check-circle" style="color: green;"></i>
                <br>
                <img class="img-fluid" src="../img/ok.png" alt="">
            </div>
        </div>
        <br>
    </div>
    <!-- Datos de registro-->
{{/partial}}

{{> layout.hbs}}