{{#partial "content"}}
    <!-- Datos de registro-->
    <div class="register">
        <div class="container">
                <div class="py-5 text-center">
                    <br> <br>
                    <h2>¿Encontraste una mascota?</h2>
                    <p class="lead">Llená este formulario para que la ayudemos a encontrar a su dueño</p>
                    {{#unless usuario}}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h3 class="lead">¿Ya tenés una cuenta?</h3><a class="btn-grande" type="submit"
                                                                          href="login.html">Ingresá</a>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="lead">¿Querés crearla?</h3><a class="btn-grande" type="submit"
                                                                     href="registro_duenio.html">Registrate</a>
                        </div>
                    </div>
                    {{/unless}}
                </div>


            <div class="row">
                <div class="col-lg-8">

                    <form class="needs-validation" action="/registro_encontrada" method="post" enctype="multipart/form-data" novalidate>
                        <div class="row g-3">
                            {{#unless usuario}}
                                <h4 class="mb-3 wavyp">Tus datos:</h4>
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Tu nombre"
                                           value=""
                                           name="nombrePersona"
                                           required>
                                    <div class="invalid-feedback">
                                        Ingresá un nombre válido.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Tu apellido"
                                           value=""
                                           name="apellido"
                                           required>
                                    <div class="invalid-feedback">
                                        Ingresá un apellido válido.
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="firstName" class="form-label">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="firstName" placeholder="aaaa-dd-mm"
                                           value=""
                                           name="fnacPersona"
                                           required>
                                    <div class="invalid-feedback">
                                        Ingresá tu fecha de nacimiento.
                                    </div>
                                </div>

                                <div class="col-sm-3 ">
                                    <label for="lastName" class="form-label">Tipo</label>
                                    <select class="form-select" id="state" name="tipoDoc" required>
                                        <option value="">...</option>
                                        {{#each tipos}}
                                            <option value="{{.}}">{{.}}</option>
                                        {{/each}}
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccioná el tipo de documento.
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="lastName" class="form-label">Nro documento</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                           name="nroDoc" required>
                                    <div class="invalid-feedback">
                                        Ingresá un número de documento válido.
                                    </div>
                                </div>

                                <div class="row py-3">
                                    <div class="col-md-4">
                                        <label for="country" class="form-label">País</label>
                                        <select class="form-select" id="country" name="pais" required>
                                            <option value="">Elegí...</option>
                                            <option value="argentina">Argentina</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, ingresá un país válido.
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="state" class="form-label">Provincia/Estado</label>
                                        <select class="form-select" id="state" name="provincia" required>
                                            <option value="">Elegí...</option>
                                            {{#each provincias}}
                                                <option value="{{.}}">{{.}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor, ingresá una provincia.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <label for="address" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="address"
                                           placeholder="Av. Siempreviva 742"
                                           name="direccion" required>
                                    <div class="invalid-feedback">
                                        Por favor, ingresá la dirección.
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Código Postal</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                    <div class="invalid-feedback">
                                        El código postal es obligatorio.
                                    </div>
                                </div>

                                <hr class="my-4">

                                <h4 class="mb-3 wavyp">Tus contactos:</h4>

                                <div class="row g-3">

                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                               name="cNombre" required>
                                        <div class="invalid-feedback">
                                            Ingrese un nombre válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                               name="cApellido" required>
                                        <div class="invalid-feedback">
                                            Ingrese un apellido válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label">Número celular</label>
                                        <input type="text" class="form-control" id="celular" placeholder="+541123456789"
                                               value="" name="cNumero" required>
                                        <div class="invalid-feedback">
                                            Ingrese un número de celular válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label">Correo Electrónico</label>
                                        <input type="text" class="form-control" id="email"
                                               placeholder="nombre@correo.com"
                                               value="" name="cCorreo" required>
                                        <div class="invalid-feedback">
                                            Ingrese un correo electrónico válido.
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="medio" class="form-label">Medio preferido</label>
                                        <select class="form-select" id="state" name="medioPreferido" required>
                                            <option value="">Elegí...</option>
                                            <option value="EMAIL">Email</option>
                                            <option value="WHATSAPP">WhatsApp</option>
                                            <option value="SMS">SMS</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Elegí un medio de comunicación.
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                        <a class="btn-mis" type="submit">+ Agregar</a>
                                    </div>
                                </div>
                                <hr class="my-4">
                            {{/unless}}

                            <!--MASCOTA-->
                            <h4 class="mb-3 wavyp">Sobre la mascota</h4>

                            <div class="col-sm-3">
                                <label for="especie" class="form-label">Especie</label>
                                <select class="form-select" id="especie" name="especie" required>
                                    <option value="">...</option>
                                    <option value="gato">Gato</option>
                                    <option value="perro">Perro</option>
                                </select>
                                <div class="invalid-feedback">
                                    Seleccioná una especie.
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label for="sexo" class="form-label">Sexo</label>
                                <select class="form-select" id="sexo" name="sexo" required>
                                    <option value="">...</option>
                                    <option value="hembra">Hembra</option>
                                    <option value="macho">Macho</option>
                                </select>
                                <div class="invalid-feedback">
                                    Sexo.
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <label for="tamanio" class="form-label">Tamaño</label>
                                <select class="form-select" id="tamanio" name="tamanio" required>
                                    <option value="">...</option>
                                    <option value="pequenio">Chica</option>
                                    <option value="mediano">Mediana</option>
                                    <option value="grande">Grande</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, elija el tamaño de la mascota.
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <textarea type="text" class="form-control" id="descripcion"
                                       placeholder="Describí en qué estado la encontraste" name="descripcion" required>
                                    </textarea>
                                <div class="invalid-feedback">
                                    Ingresá una descripción.
                                </div>
                            </div>

                            <hr class="my-4">
                            <h4 class="mb-3 wavyp">Fotos</h4>
                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Subí una o varias fotos</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                               name="foto" accept="image/*" >
                                    </div>
                                </div>

                                <div class="col-sm-12 text-right">
                                    <a class="btn-mis" type="submit">+ Otra foto</a>
                                </div>

                            </div>
                            <hr class="my-4">

                            <h4 class="mb-3">¿Dónde la encontraste?</h4>
                            <p>Seleccioná la ubicación en el mapa:</p>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div id="mapa" style="width: 100%; height: 450px">
                                    </div>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="latitud">Latitud</label>
                                        <input type="text" id="latitud" class="form-control" name="latitud">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="longitud">Longitud</label>
                                        <input type="text" id="longitud" class="form-control" name="longitud">
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">
                            <h4 class="mb-3 wavyp">Hogar de tránsito</h4>
                            <p>Si no podés darle tránsito hasta que encuentre a su dueño comunicate con un hogar de
                                tránsito.</p>
                            <p>Seleccioná un radio de cercanía</p>
                            <label for="radio" class="col-sm-2 col-form-label fw-bold">Distancia </label>
                            <div class="col-sm-3">
                                <select class="form-select" id="radio" name="radio">
                                    <option value="">...</option>
                                    <option value="71678">Hasta 5km</option>
                                    <option value="71679">Hasta 10km</option>
                                    <option value="71680">Hasta 15km</option>
                                    <option value="todos">Todos</option>
                                </select>
                            </div>

                            <hr class="my-4">
                            <div class="container">
                                <div class=" text-center form-check">
                                    <input type="checkbox" class="form-check-input" id="save-info" required>
                                    <label class="form-check-label" for="save-info">Acepto que se envíen mis datos de
                                        contacto al dueño.</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn-grande" type="submit">Publicar mascota</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--------------------------------------------Foto derecha--------------------------------------------->
                <div class="col-lg-3">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <img class="register-img d-none d-lg-block" src="img/pet-register.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <!-- Datos de registro-->


{{/partial}}

{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}