{{#partial "content"}}
<!-- Datos de registro-->
    <div class="register">
        <div class="container">
            <div class="py-5 text-center">
                <br> <br>
                <h2>Lo sentimos</h2>
                <p class="lead">No encontramos hogares que puedan recibir a la mascota.</p>
                <p>La publicación fue realizada con éxito.</p>
                <i class="far fa-7x fa-check-circle" style="color: green;"></i>
                <br>
                <img class="img-fluid" src="img/ok.png" alt="">
            </div>
        </div>
        <br>
    </div>
    <!-- Datos de registro-->
{{/partial}}

{{#eq rol null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol "Duenio"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}